<head>
  <title>Welcome to the Jungle</title>
</head>

<body>
  <h1>
    Welcome to the Jungle!!
  </h1>
  <p>
    "Welcome to the Jungle" is a song by American rock band Guns N' Roses, featured on their debut album, Appetite for Destruction
    (1987). It was released as the album's second single initially in the UK in September 1987 then again in October 1988
    this time including the US, where it reached number seven on the Billboard Hot 100 and number 24 on the UK Singles Chart.
    On the 1987 release, the Maxi Single format was backed with a live version of AC/DC's "Whole Lotta Rosie", the band's
    debut single "It's So Easy" and Bob Dylan's "Knockin' On Heaven's Door". In 2009 "Welcome to the Jungle" was named the
    greatest hard rock song of all time by VH1. The track personnal are shown below.</p>
  
  <ul>
    <li>W. Axl Rose - Lead Vocals</li>
    <li>Slash - Lead Guitar</li>
    <li>Izzy Stradlin - Rhythm guitar, Backing vocals</li>
    <li>Duff McKagan - Bass guitar, Backing vocals</li>
  </ul>
</body>

<%= link_to 'About', about_path %>